<h1 class="text-center">Welcome to the donation page.</h1>
<p class="text-center">
  <a class="nav-links center" href="https://www.paypal.com/donate/?hosted_button_id=G35V9M8P56FYJ" target="_blank">Click here to donate.</a>
</p>
