<h1>
	Welcome to the users page, here's a list of users.
</h1>

<div>
	<% @users.each do |user| %>
		<h2>Welcome <%= user.username %></h2>
	<% end %>
</div>

<% if session[:user_id] %>
	<%= link_to "Sign out", session_path(session[:user_id]), method: 'delete' %>
<% end %>