<h1 class="text-center">Website made with love by: Manuel Gonçalves</h1>
<div class="center">
	<%= image_tag "img/logo_manuel.png", alt: 'Logotipo do Manuel Gonçalves' %>
</div>
<p class="text-center">
	welcome to the job board done by me, Manuel Gonçalves.
</p>
