.show-title {
    text-align: center;
}

.main-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-bottom: 25px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .description {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }

  .company-location, .application-date {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
  }

  .job-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }

  .job-link:hover {
    text-decoration: underline;
  }

  .delete-job {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Styles for the application form */
.main-card form {
  text-align: left;
}

.main-card form p {
  margin-bottom: 10px;
}

.main-card form label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.main-card form textarea,
.main-card form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  width: 300px;
}

.main-card form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.main-card form input[type="submit"]:hover {
  background-color: #0056b3;
}
